:root {
  --font-family: "Factor A TRIAL", sans-serif;
  --second-family: "Bork Display", sans-serif;
    scroll-behavior: smooth;
}
body {
    background: #0B131C;
    color: #fff;
}
.site-container {
    overflow: hidden;
}
.container {
    padding: 0 20px;
    max-width: 1280px;
    margin: auto;
    overflow: hidden;
    contain: layout;
}

.icon {    
    border-radius: 100%;
    width: 2.5em;
    height: 2.5em;
    stroke-width: 0.50px;
    stroke: #fff;
    border: #fff solid 2px;
    float: right;
    display: flex;
    padding: 0.5em;
}
.icon--invert {
    background: #fff;
}

.about__wrapper {
    display: flex;
    height: 800px;
    gap: 40px;
}
.about {
    position: relative;
    padding: 40px 0px;
}
.about::before {
    content: "";
    position: absolute;
    background: url(../images/about-gradient.svg) no-repeat;
    background-position: center right;
    height: 800px;
    width: 100%;
    background-size: contain;
    z-index: -1;
} 
.about__left {
    display: flex;
    flex-flow: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}
.about__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    color: #000;

    border-radius: 20px;
    padding: 12px 16px;

    background: #fff;
}
.about__title-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 52px;
    line-height: 108%;
    color: #fff;
}
.about__title-text span {
    background: linear-gradient(45deg, #fff 0%, #2e64e7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about__content {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
}
.about__link {
    border-radius: 24px;
    padding: 0px 24px;
    background-color: #2E64E7;
    display: flex;
    gap: 4px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #fff;
    text-decoration: none;
}

.about__link span {
    padding: 14px 0px;
}

.about__link img {
    width:1.3rem;
    filter:invert();
}
.about__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}
.about__card {
    padding: 20px;
    border-radius: 36px;
    backdrop-filter: blur(44px);
    background: linear-gradient(137deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
    
    align-self: flex-end;
    overflow: hidden;
    transition: 0.2s;
}
.about__card:hover {
    box-shadow: 0 18px 88px -4px rgba(255, 255, 255, 0.14), 0 8px 28px -6px rgba(255, 255, 255, 0.12);
    background: #2e64e7;
}
.about__card--down {
    align-self: flex-start;
}
.about__card-content {
    grid-template-columns: 1fr auto;
    display: grid;
    gap:12px;
    padding-bottom: 24px;
}
.about__card-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    color: #fff;
}
.about__card-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
}
.about__card-image {
    margin: 0 -20px -20px;
    float: right;
    transition: 0.2s;
}
.about__card-icon {
    grid-area: 1 / 2 / 3 / 3;
}
.about__card:hover .about__card-image {
    filter: saturate(0) saturate(0) saturate(0) brightness(5);
}
@media (width < 1280px) {
    .about__wrapper {
        flex-direction: column;
        height: auto;
    }
}
@media (width < 640px) {
    .about__right {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .about__card {
        align-self: stretch;
    }
    .about__link {
        align-self: stretch;
        justify-content: center;
    }
}
