.quiz{
    display: flex;
    &__question-block {
        transition: 0.2s;
        width: 25%;
        margin: 6px;
        display: flex;
        flex-direction: column;
    }
    &__question-title {
        border-radius: 5px;
        padding: 5px;
        transition: 0.2s;
        border: transparent 3px solid;

        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 111%;
        color: #fff;
        margin: 12px 0;
    }
    /*
    
    &__question--correct &__question-title::after {
        content: "";
        display: inline-block;
        aspect-ratio: 1;
        height: 100%;
        width: auto;
        background-color: green;
    }
    &__question--incorrect &__question-title::after {
        content: "";
        display: inline-block;
        aspect-ratio: 1;
        height: 100%;
        width: auto;
        background-color: red;
    }
    
    */

    &__question--correct &__question-title{
        border-color: green ;
    }
    &__question--incorrect &__question-title{
        border-color: red ;
    }
    
    &__end {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 111%;
        color: #fff;
        margin: 12px 0;
    }

    &__answers {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin: 5px;
        flex: 1;

        .quiz__answer {
            background-color: #259;
            border: #259 3px solid;
            border-radius: 5px;
            padding: 5px;
            transition: 0.2s, top 1.6s ease-in-out var(--delay), min-height 2s, opacity 2s ease-in-out var(--delay);
            
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 18px;
            line-height: 143%;
            color: #fff;
            opacity: 1;

        }
        .quiz__answer:hover {
            background-color:#147;
            border-color: #147;
        }
        .quiz__answer.quiz__answer--right {
            top: 0px !important;
            overflow: hidden;
            max-height: var(--target-height);
            
            
        }
        .quiz__answer.quiz__answer--move {
            top: 200vh !important;
            opacity: 0;
        }
    }
}